<%- include('header') %>    
<div class="col-md-4 mx-auto">
<form action="" method="post" name="frm-singer">
<h2 class="text-center">Add Singer Form</h2>
<div class="form-group">
    <label for="">Name</label>
    <input class="form-control" type="text" name="name" value="">
</div>
<div class="form-group">
    <label for="">Avatar</label>
    <input class="form-control" type="text" name="avatar" value="">
</div>
<div class="form-group">
    <label for="">Link</label>
    <input class="form-control" type="text" name="link" value="">
</div>
<div class="form-group">
    <a href="/" class="btn btn-warning ">Back</a>
    <button type="submit" class="btn btn-success ">Add</button>
</div>
</form>
</div>
<%- include('footer')%>